 .slanted-strong {
   background: repeating-linear-gradient(45deg,
       #bfbfbf,
       #bfbfbf 2px,
       #ffffff 2px,
       #ffffff 10px);
 }

 .slanted-strongrev {
   background: repeating-linear-gradient(135deg,
       #3f3e3e,
       #ccc 1px,
       #fff 1px,
       #fff 4px);
 }

 .slanted {
   background: repeating-linear-gradient(45deg,
       #cfcfcf,
       #cfcfcf 2px,
       #ffffff 2px,
       #ffffff 10px);
 }